/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 10% 0%;
  text-align: center;
  position: relative;
  color: #e1dcd3;
  background-image: url("../../static/img/green_logo.jpg");
  background-position: relative;
  background-position: center;
  background-size: 30%;
  background-repeat: no-repeat;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 25%;
    background-size: 75%;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
